@font-face {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
        url('../fonts/FuturaPT-Book.woff') format('woff');
}

@font-face {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
        url('../fonts/FuturaPT-Medium.woff') format('woff');
}

@font-face {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/FuturaPT-Bold.woff') format('woff');
}

:root {
    --main-font-family: "Futura PT", "Arial", sans-serif;
    --main-text-color: #949494;
    --yellow-color: #FFBD54;
    --main-color: #333333;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

img {
    display: block;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Futura PT", "Arial", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-color: #f9f9f9;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container {
    max-width: 1340px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main {
    flex-grow: 1;
}


/* HEADER PART CSS  */
.site-header__inner {
    background-color: #F9F8F8;
    z-index: 0;
}

.header-box__inner-box {
    width: 1117px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 9px;
}

.header-box__address {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--main-color);
    position: relative;
}

.header-box__address::before {
    content: "";
    background-image: url("../images/home-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 13px;
    position: absolute;
    bottom: 3px;
    left: -23px;
}

.header-box__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}

.header-box__list::before {
    content: "";
    background-image: url("../images/phone-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
    position: absolute;
    bottom: 3px;
    left: -20px;
}

.header-box__item {
    position: relative;
}

.header-box__item:nth-child(2):before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--yellow-color);
    position: absolute;
    bottom: 8px;
    left: -12px;
}

.header-box__item:nth-child(2)::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--yellow-color);
    position: absolute;
    bottom: 8px;
    right: -12px;
}

.header-box__item:not(:last-child) {
    margin-right: 22px;
}

.header-box__link {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--main-color);
    text-decoration: none;
    transition: 0.4s ease;
}

.header-box__link:hover {
    color: var(--yellow-color);
}

.header-box__link:active {
    color: var(--main-color);
    opacity: 0.6;
}

.header-box__time-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}

.header-box__time-list::before {
    content: "";
    background-image: url("../images/calendar-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
    position: absolute;
    bottom: 2px;
    left: -20px;
}

.header-box__time-item {
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--main-color);
}

.header-box__time-item:not(:last-child) {
    margin-right: 17px;
}

.site-header__continue {
    padding-top: 18px;
    background-color: #fff;
}

.sitenav {
    position: relative;
}

.site-header__logo-link {
    position: absolute;
    top: calc(-39px);
    left: calc(-29px);
}


.site-header__logo-img {
    z-index: 1;
    color: #ffffff;
}

.site-header__logo-img:hover {
    opacity: 0.8;
}

.site-header__logo-img:active {
    opacity: 0.6;
}


.site-header__nav-box {
    display: flex;
    justify-content: space-between;

}

.sitenav__list {
    width: 725px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    align-content: center;
}

.sitenav__item {
    margin-bottom: 20px;
    position: relative;
    border-bottom: 4px solid transparent;
}



.sitenav__item:nth-child(1)::before {
    content: "";
    background-image: url("../images/active-icon.svg");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 2px;
    left: -20px;
}

.sitenav__item:not(:last-child) {
    margin-right: 55px;
}

.sitenav__item:nth-child(6) {
    margin-right: 0;
}


.sitenav__link {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-color);
    text-decoration: none;

}

.sitenav__link:hover {
    border-bottom: 4px solid #F4FFAD;
}

.sitenav__link:active {
    border-bottom: 4px solid #F4FFAD;
    opacity: 0.6;
}

.site-header__question-link {
    display: flex;
    align-items: flex-start;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-align: right;
    color: var(--main-color);
    text-decoration: none;
    position: relative;
    border: transparent;
    background-color: transparent;
}

.site-header__question-link::before {
    content: "";
    background-image: url("../images/pet-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 23px;
    height: 21px;
    position: absolute;
    top: 0;
    left: -25px;
}


/* HERO SECTION CSS  */

.hero {
    padding-top: 153px;
}

.hero__box {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-right: 37px;
}

.hero__img-group {
    display: inline-block;
    z-index: -1;
    position: absolute;
    top: -220px;
    left: -307px;
}

.hero__content {
    width: 608px;
    margin-left: auto;
}

.hero__topic {
    margin: 0;
    margin-bottom: 29px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: var(--main-color);
}

.hero__topic-blue {
    display: inline-block;
    color: #78C0DE;
}

.hero__text-box {
    width: 495px;
}

.hero__text {
    margin: 0;
    margin-bottom: 38px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #949494;
}

.hero__link {
    display: inline-block;
    padding: 15px 48px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: var(--main-color);
    border-radius: 3px;
    text-decoration: none;
}

.hero__link:hover {
    color: var(--main-color);
    background-color: var(--yellow-color);
}

.hero__link:active {
    color: var(--main-color);
    background-color: var(--yellow-color);
    opacity: 0.6;
}

.hero__img-alone {
    position: absolute;
    bottom: -335px;
    right: -222px;
}

/* QUOTE SECTION CSS  */
.quote {
    padding-top: 290px;
    padding-bottom: 191px;
}

.quote__box {
    width: 753px;
    margin: 0 auto;
    padding-top: 64px;
    position: relative;
}

.quote__box::before {
    content: "";
    width: 140px;
    height: 1px;
    background-color: #DBDBDB;
    position: absolute;
    top: 23px;
    right: 340px;
}

.quote__box::after {
    content: "";
    width: 140px;
    height: 1px;
    background-color: #DBDBDB;
    position: absolute;
    bottom: 60px;
    right: 340px;
}


.quote__text {
    margin: 0;
    margin-bottom: 70px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #949494;
    position: relative;
}


.quote__text::before {
    content: "";
    background-image: url("../images/quote-iconbegin.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 78px;
    height: 78px;
    position: absolute;
    top: -45px;
    left: -130px;
}

.quote__text::after {
    content: "";
    background-image: url("../images/quote-iconend.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 78px;
    height: 78px;
    position: absolute;
    top: 25px;
    right: -111px;
}

.quote__author {
    margin: 0;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: var(--main-color);
    text-align: center;
}

/* SERVICES SECTION CSS  */

.service {
    padding-bottom: 235px;
    position: relative;
}

.service__icon-box {
    width: 50px;
    height: 50px;
    padding: 12px 18px;
    position: absolute;
    top: calc(50% - 294px);
    left: calc(50% - 739px);
}


.service__icon-box:hover {
    padding: 12px 18px;
    color: var(--yellow-color);
    background-color: #fff;

}

.service__icon-box:active {
    padding: 12px 18px;
    color: var(--yellow-color);
    background-color: #fff;
    opacity: 0.6;

}

.service__icon {
    display: block;
    width: 50px;
    height: 50px;
    padding: 12px 18px;
    position: absolute;
    top: calc(50% - 301px);
    right: calc(50% - 671px);
}

.service__icon:hover {
    padding: 12px 18px;
    color: var(--yellow-color);
    background-color: #fff;

}

.service__icon:active {
    padding: 12px 18px;
    color: var(--yellow-color);
    background-color: #fff;
    opacity: 0.6;

}


.service__topic {
    margin: 0;
    margin-bottom: 80px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
}

.service__list {
    width: 1223px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    position: relative;
}

.service__item {
    width: 193px;
    padding: 129px 32px 42px 35px;
    background-color: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    margin-right: 13px;
    flex-shrink: 0;
    position: relative;
}

.service__item:hover {
    opacity: 0.8;
}

.service__item:active {
    opacity: 0.6;
}

.service__item:not(:first-child) {
    margin-bottom: 14px;
}

.service__item::before {
    margin-bottom: 0;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    width: 54px;
    height: 77px;
    position: absolute;
    top: 33px;
    right: 62px;
}

.service__item:nth-child(1)::before {
    background-image: url("../images/doctor.svg");
}

.service__item:nth-child(2)::before {
    background-image: url("../images/girl.svg");
}

.service__item:nth-child(3)::before {
    background-image: url("../images/dog.svg");
}

.service__item:nth-child(4)::before {
    background-image: url("../images/littleboy.svg");
}

.service__item:nth-child(5)::before {
    background-image: url("../images/labaratory.svg");
}

.service__item:nth-child(6)::before {
    background-image: url("../images/oftamology.svg");
}

.service__item:nth-child(7)::before {
    background-image: url("../images/uzi.svg");
}

.service__item:nth-child(8)::before {
    background-image: url("../images/medicine.svg");
}

.service__item:nth-child(9)::before {
    background-image: url("../images/passport.svg");
}

.service__item:nth-child(10)::before {
    background-image: url("../images/medicine-group.svg");
}

.service__item:nth-child(11)::before {
    background-image: url("../images/teeth.svg");
}

.service__item:nth-child(12)::before {
    background-image: url("../images/med-box.svg");
}

.service__link {

    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--main-color);
    text-decoration: none;
}



.service__content {
    width: 1223px;
    padding: 41px 105px 41px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 5px 5px 5px;
}

.item-content__img {
    margin-right: 28px;
}

.item-content__box {
    width: 492px;
}

.item-content__title {
    margin: 0;
    margin-bottom: 18px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: var(--main-color);
}

.item-content__text {
    margin: 0;
    margin-bottom: 9px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.item-content__text--active {
    margin-bottom: 34px;
}

.item-content__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.item-content__item {
    border-radius: 3px;

}

.item-content__link {
    display: inline-block;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.item-content__item--yellow {
    margin-right: 21px;
    padding: 16px 36px 16px 63px;
    background-color: var(--yellow-color);
    position: relative;
    color: #FFFFFF;
}

.item-content__item--yellow:hover {
    color: #FFBD54;
    background-color: var(--main-color);
}

.item-content__item--yellow:hover .item-content__link {
    color: var(--yellow-color);
}

.item-content__item--yellow:active {
    color: var(--yellow-color);
    background-color: var(--main-color);
    opacity: 0.6;
}


.item-content__item--yellow::before {
    content: "";
    background-image: url("../images/money.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 18px;
    left: 35px;
}

.item-content__item--black {
    padding: 16px 37px 16px 64px;
    background-color: var(--main-color);
    position: relative;
    color: #FFFFFF;
}

.item-content__item--black:hover {
    color: var(--main-color);
    background-color: var(--yellow-color);
}

.item-content__item--black:hover .item-content__link {
    color: var(--main-color);
}


.item-content__item--black:active {
    color: var(--main-color);
    background-color: var(--yellow-color);
    opacity: 0.6;
}

.item-content__item--black::before {
    content: "";
    background-image: url("../images/document.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 18px;
    left: 35px;
}

/* INFO SECTION CSS  */
.info {
    /* padding-top: 235px; */
    padding-bottom: 216px;
}

.info__background {
    background-image: url("../images/info-img.png");
    background-size: cover;
    z-index: 0;
}

.info__content {
    width: 950px;
    margin: 0 auto;
    display: flex;

    align-items: center;
}

.info__box {
    width: 545px;
    padding-top: 90px;
    padding-bottom: 88px;
    position: relative;
}

.info__box::after {
    content: "";
    background-image: url("../images/dog.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 613px;
    height: 473px;
    position: absolute;
    right: -555px;
    top: -129px;
}

.info__topic {
    margin: 0;
    margin-bottom: 32px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.info__form {
    display: flex;
    align-items: center;
}

.info__input {
    width: 335px;
    margin-right: 21px;
    padding: 18px 147px 12px 22px;
    border-radius: 5px;
    outline: none;
    border: 2px solid transparent;
}

.info__input:focus {
    border: 2px solid #FFBD54;
}

input:not(:placeholder-shown):not(:focus):invalid {
    color: #DC4D41;
    border-color: #DC4D41;
}

input::placeholder {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #949494;
    outline: none;
}

.info__btn {
    padding: 15px 53px 14px 51px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: var(--main-color);
    border-radius: 3px;
    border: transparent;
}

.info__btn:hover {
    color: var(--main-color);
    background-color: var(--yellow-color);
}

.info__btn:active {
    color: var(--main-color);
    background-color: var(--yellow-color);
    opacity: 0.6;
}

/* CITE SECTION CSS  */
.cite {}

.cite__topic {
    margin: 0;
    margin-bottom: 80px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    text-align: center;
    color: var(--main-color);
}

.cite__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.cite__item {
    width: 305px;
    border: 1px solid #E4E4E2;
    border-radius: 5px;
}



.cite__item:not(:last-child) {
    margin-right: 24px;
}

.cite__content {
    padding-right: 22px;
    padding-bottom: 37px;
    padding-left: 30px;
}

.cite__img {
    width: 305px;
    height: 180px;
    margin-bottom: 21px;
}

.cite__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}

.cite__taglist {

    display: flex;
    /* display: none; */
    margin: 0;
    padding: 0;
    list-style: none;
    visibility: hidden;
}

.cite__tag-item {
    color: #3D9CEA;
}

.cite__tag-item:not(:last-child) {
    margin-right: 7px;
}

.cite__time {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #949494;
    text-align: right;
}

.cite__item-context {
    width: 240px;
}

.cite__item-title {
    margin: 0;
    margin-bottom: 10px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
}

.cite__item-text {
    margin: 0;
    margin-bottom: 37px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.cite__item-link {
    margin-left: 20px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-color);
    text-decoration: none;
    position: relative;
}

.cite__item-link::before {
    content: "";
    background-image: url("../images/pet-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 23px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -25px;
}

.cite__item-link:hover {
    color: var(--yellow-color);
}

.cite__item-link:active {
    color: var(--main-color);
    opacity: 0.6;
}

.cite__item--active {
    width: 640px;
    display: flex;
}

.cite__item--active .cite__box {
    margin-bottom: 32px;
}

.cite__item--active .cite__taglist {
    visibility: visible;
    margin-right: 50px;
}

.cite__item--active .cite__img {
    width: 305px;
    height: 435px;
    margin-bottom: 0;
    margin-right: 21px;
}

.cite__item--active .cite__box {
    padding-top: 41px;
    padding-right: 35px;
}

/* COONECTION SECTION CSS */
.connection {
    padding-bottom: 974px;
    position: relative;
}

.connection__container {
    width: 1695px;
    margin: 0 auto;
    position: absolute;
    right: calc(50% + -486px);
    top: calc(50% + -332px);
}

.connection__box {

    width: 1463px;
    display: flex;
}

.connection__iframe {
    border: none;
    vertical-align: middle;
    width: 847px;
    height: 649px;
}

.connection__form-box {
    padding: 62px 450px 54px 166px;
    background-color: #333333;
    position: relative;
}

.connection__form-box::after {
    content: "";
    background-image: url("../images/fish.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 427px;
    height: 584px;
    position: absolute;
    right: 0;
    top: 0;
}

.connection__context {
    background-image: url("../images/fish.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.connection__fom {
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.connection__content {
    width: 360px;
}

.connection__topic {
    margin: 0;
    margin-bottom: 14px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;
}

.connection__text {
    margin: 0;
    margin-bottom: 29px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.connection__input-name {
    margin-bottom: 14px;
    display: block;
    padding: 16px 285px 14px 22px;
    outline: none;
    border: 2px solid transparent;
}

.connection__input-name:focus {
    border: 2px solid #FFBD54;
}

.connection__input-name::placeholder {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #949494;

}

.connection__input-email {
    margin-bottom: 14px;
    display: block;
    padding: 15px 184px 14px 22px;
    outline: none;
    border: 2px solid transparent;
}

.connection__input-email:focus {
    border: 2px solid #FFBD54;
}

input:not(:placeholder-shown):not(:focus):invalid {
    color: #DC4D41;
    border-color: #DC4D41;
}

.connection__input-email::placeholder {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #949494;
}

.connection__massage {
    margin-bottom: 30px;
    padding-top: 17px;
    padding-left: 22px;
    resize: none;
    outline: none;
    border: 2px solid transparent;
}

.connection__massage:focus {
    border: 2px solid #FFBD54;
}

textarea:not(:placeholder-shown):not(:focus):invalid {
    color: #DC4D41;
    border-color: #DC4D41;
}

.connection__btn {
    width: 237px;
    padding: 14px 50px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: var(--yellow-color);
    border: transparent;
}

.connection__btn:hover {
    color: var(--yellow-color);
    background-color: var(--main-color);
    border: transparent;
}

.connection__btn:active {
    color: var(--yellow-color);
    background-color: var(--main-color);
    opacity: 0.6;
}

input:not(:placeholder-shown):not(:focus):invalid {
    color: #DC4D41;
    border-color: #DC4D41;
}

/* FOOTER PART CSS  */

.site-footer {
    padding-top: 54px;
    padding-bottom: 23px;
    background-color: #EBEBEB;
}

.site-footer__content {
    display: flex;
    align-items: flex-start;
}

.site-footer__logo-link {
    align-self: flex-start;
    margin-right: 67px;

}

.site-footer__logo-link:hover {
    opacity: 0.8;
}

.site-footer__logo-link:active {
    opacity: 0.6;
}


.site-footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-footer__item:not(:nth-child(3)) {
    margin-bottom: 15px;
}

.site-footer__link {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-color);
    text-decoration: none;
}

.site-footer__link:hover {
    color: var(--yellow-color);
}

.site-footer__link:active {
    color: var(--main-color);
    opacity: 0.6;
}

.site-footer__list--active {
    margin-right: 87px;
}

.site-footer__time-list {
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style: none;
    position: relative;
}

.site-footer__time-list::before {
    content: "";
    background-image: url("../images/calendar-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
    position: absolute;
    bottom: 20px;
    left: -20px;
}

.site-footer__adres-box {
    margin-left: 137px;
    width: 160px;
    position: relative;
}

.site-footer__adres-box::before {
    content: "";
    background-image: url("../images/home-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 13px;
    position: absolute;
    bottom: 25px;
    left: -23px;
}

.site-footer__addres-link {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: var(--main-color);
    text-decoration: none;
}

.site-footer__phone-list {
    margin: 0;
    padding: 0;
    margin-left: 112px;
    list-style: none;
    position: relative;
}

.site-footer__phone-list::before {
    content: "";
    background-image: url("../images/phone-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
    position: absolute;
    bottom: 48px;
    left: -20px;
}

.site-footer__phone-item:not(:last-child) {
    margin-bottom: 4px;
}

.site-footer__phone-link {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: var(--main-color);
    text-decoration: none;
}

.site-footer__phone-link:hover {
    color: var(--yellow-color);
}

.site-footer__phone-link:active {
    color: var(--main-color);
    opacity: 0.6;
}

.site-footer__desc {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    color: #5C5C5C;
}



/* SERVICE PAGE CSS  */

.uslugi {
    padding-top: 118px;
    padding-bottom: 168px;
    background-image: url("../images/uslugi.png");
    background-repeat: no-repeat;
    background-size: 435px 435px;
    background-position: calc(50% + 495px) calc(50% + -758px);
}

.uslugi__content-box {
    width: 447px;
    margin-bottom: 140px;
}

.uslugi__topic {
    margin: 0;
    margin-bottom: 21px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: var(--main-color);
}

.uslugi__content-text {
    margin: 0;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #949494;
}

.uslugi__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.uslugi__item {
    width: 302px;
    height: 420px;
    padding: 157px 22px 45px 53px;
    margin-right: 30px;
    margin-bottom: 34px;
    background: #fff;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    background-image: url("../images/uslugi-itembg.svg");
    background-repeat: no-repeat;
    background-size: 143px 138px;
    background-position: calc(50% + 58px) calc(50% + -107px);
    transition: 0.4s ease;
}

.uslugi__item:hover {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}

.uslugi__item-topic {
    margin: 0;
    margin-bottom: 14px;
}

.uslugi__topic-link {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 34px;
    color: var(--main-color);
    text-decoration: none;
}

.uslugi__text {
    margin: 0;
    margin-bottom: 26px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.uslugi__link {
    display: inline-block;
    padding: 14px 30px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background-color: var(--yellow-color);
    border-radius: 3px;
    text-decoration: none;
    transition: 0.4s ease;
}

.uslugi__link-blue {
    display: inline-block;
    padding: 14px 30px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #78C0DE;
    text-decoration: none;
}


.uslugi__link:hover {
    background-color: #000000;
    color: var(--yellow-color);
}

.uslugi__link:active {
    background-color: #000000;
    color: var(--yellow-color);
    opacity: 0.6;
}

.uslugi__item::before {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 59px;
    right: 194px;
}

.uslugi__item:nth-child(1)::before {
    content: "";
    background-image: url("../images/doctor.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 54px;
    height: 77px;
    position: absolute;
    top: 59px;
    right: 194px;

}

.uslugi__item:nth-child(2)::before {
    background-image: url("../images/girl.svg");
    width: 61px;
    height: 76px;
}

.uslugi__item:nth-child(3)::before {
    background-image: url("../images/dog.svg");
    width: 72px;
    height: 77px;
    right: 183px;
}

.uslugi__item:nth-child(4)::before {
    background-image: url("../images/littleboy.svg");
    width: 75px;
    height: 75px;
}

.uslugi__item:nth-child(5)::before {
    background-image: url("../images/labaratory.svg");
    width: 78px;
    height: 78px;
    top: 59px;
    right: 174px;
}

.uslugi__item:nth-child(6)::before {
    background-image: url("../images/oftamology.svg");
    width: 76px;
    height: 76px;
    right: 175px;
}

.uslugi__item:nth-child(7)::before {
    background-image: url("../images/uzi.svg");
    width: 77px;
    height: 77px;
    right: 172px;
}

.uslugi__item:nth-child(8)::before {
    background-image: url("../images/medicine.svg");
    width: 40px;
    height: 77px;
    right: 208px;
}

.uslugi__item:nth-child(9)::before {
    background-image: url("../images/passport.svg");
    width: 86px;
    height: 78px;
    right: 162px;
}

.uslugi__item:nth-child(10)::before {
    background-image: url("../images/medicine-group.svg");
    width: 68px;
    height: 76px;
    right: 174px;
}

.uslugi__item:nth-child(11)::before {
    background-image: url("../images/teeth.svg");
    width: 77px;
    height: 77px;
    right: 170px;
}

.uslugi__item:nth-child(12)::before {
    background-image: url("../images/med-box.svg");
    width: 77px;
    height: 77px;
    right: 172px;
}


.uslugi__item:nth-child(4) {
    margin-right: 0;
}

.uslugi__item:nth-child(8) {
    margin-right: 0;
}

.uslugi__item:nth-child(12) {
    margin-right: 0;
}

/* MODAL CSS  */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #ffffffe6;

}

.modal--show {
    display: block
}

.modal__window {
    position: absolute;
    margin: 0 auto;
    padding: 119px 51px 137px 70px;
    top: 22px;
    left: 360px;
    width: 880px;
    height: 648px;
    background-image: url("../images/modal.png");
    background-repeat: no-repeat;
    background-color: var(--yellow-color);
    display: flex;
}

.site-header__question-link--openmodal {
    cursor: pointer;
}

.modal__login {
    display: flex;
    flex-direction: column;
    margin-right: 136px;
    padding-top: 27px;
}

.modal__login-title {
    margin: 0;
    margin-bottom: 21px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--main-color);
}

.modal__link-google {
    margin-bottom: 21px;
    padding: 14px 36px 15px 68px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-color);
    background-color: #FFFFFF;
    text-decoration: none;
    position: relative;
}

.modal__link-google::before {
    content: "";
    background-image: url("../images/google.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 14px;
    left: 36px;
    width: 20px;
    height: 20px;
}

.modal__link-meta {
    padding: 14px 35px 15px 56px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-color);
    background-color: #FFFFFF;
    text-decoration: none;
    position: relative;
}

.modal__link-meta::before {
    content: "";
    background-image: url("../images/facebook.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 14px;
    left: 28px;
    width: 20px;
    height: 20px;
}


.modal__topic {
    margin: 0;
    margin-bottom: 25px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 54px;
    color: var(--main-color);
}

.connection__btn--active {
    width: 193px;
    padding: 14px 67px 15px 55px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #000000;
}

.modal___content {
    position: relative;
}

.connection__close {
    background-image: url("../images/modal-close.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -96px;
    left: -419px;
    border: transparent;
    background-color: transparent;
}




/* FAQ PAGE CSS  */

.faq {
    padding-top: 118px;
    padding-bottom: 270px;
    background-color: #E5E5E5;
    background-image: url("../images/faq-cat.png"), url("../images/faq-fyingbird.png");
    background-repeat: no-repeat;
    background-size: 569px 466px, 654px 640px;
    background-position: calc(50% + 492px) calc(49px), calc(50% + 574px) calc(1074px);
}

.faq__content {
    width: 447px;
    padding-left: 70px;
}

.faq__topic {
    margin: 0;
    margin-bottom: 27px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: var(--main-color);
}

.faq__text {
    margin: 0;
    margin-bottom: 35px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.faq__link {
    display: inline-block;
    margin-bottom: 63px;
    padding: 15px 38px 14px 68px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #78C0DE;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
}

.faq__link::before {
    content: "";
    background-image: url("../images/document.svg");
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 13px;
    left: 38px;
}

.faq__list {
    margin: 0;
    padding: 0;
    padding-left: 70px;
    list-style: none;
}

.faq__item {
    width: 752px;
    padding: 31px 112px 32px 65px;
    background-color: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 5px;

}

.faq__item:not(:last-child) {
    margin-bottom: 18px;
}

.faq__item-top {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.faq__item-time {
    margin-left: 20px;
    margin-right: 28px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: var(--main-color);
    position: relative;
}

.faq__item-time::before {
    content: "";
    background-image: url("../images/pet-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 19px;
    position: absolute;
    top: 0px;
    left: -25px;
}

.faq__item-tag {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #78C0DE;
}

.faq__summary {
    margin-bottom: 23px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: var(--main-color);
    position: relative;
}

.faq__summary::after {
    display: block;
    content: "";
    background-image: url(../images/faq-sum-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 9px;
    position: absolute;
    top: 8px;
    right: 6px;
}

.faq__detail[open] .faq__summary::after {
    transform: rotate(180deg);
    transition: 0.3s;
}

.faq__detail[open] .faq__summary--blue::after {
    transform: none;
}

.faq__summary-text {
    margin: 0;
    padding-bottom: 33px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.faq__item--blue {
    opacity: 0.6;
}

.faq__item-time--blue::before {
    content: "";
    background-image: url("../images/petblue.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 19px;
    position: absolute;
    top: 0px;
    left: -25px;
}

.faq__summary--blue::after {
    display: block;
    content: "";
    background-image: url(../images/faq-clock.svg);
    background-repeat: no-repeat;
    /* background-size: contain; */
    width: 21px;
    height: 21px;
    position: absolute;
    top: 0;
    right: 6px;
}


/* CONTACT PAGE CSS  */


.contact {
    padding-top: 110px;
    background-image: url("../images/contact-dog.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 430px) calc(50% + 12px);

}

.contact__content {
    width: 447px;
    margin-bottom: 117px;
    padding-left: 70px;
}

.contact__topic {
    margin: 0;
    margin-bottom: 27px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: var(--main-color);
}

.contact__text {
    margin: 0;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}


.contact__list {
    margin: 0;
    padding: 0;
    display: flex;
    padding-left: 70px;
    list-style: none;
}

.contact__item {
    width: 153px;
    padding-top: 103px;
    position: relative;
}

.contact__item:not(:last-child) {
    margin-right: 118px;
}

.contact__item::before {
    content: "";
    background-repeat: no-repeat;
    width: 73px;
    height: 73px;
    position: absolute;
    top: 3px;
    right: 76px;
}

.contact__item:nth-child(1):before {
    background-image: url(../images/contact-location.svg);
}

.contact__item:nth-child(2):before {
    background-image: url(../images/contact-calendar.svg);
}

.contact__item:nth-child(3):before {
    background-image: url(../images/contact-phone.svg);
}

.contact__adress-link {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: var(--main-color);
    text-decoration: none;
}

.contact__date-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact__date-item {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-color);
}

.contact__date-item:not(:last-child) {
    margin-bottom: 12px;
}

.contact__tel-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact__tel-item:not(:last-child) {
    margin-bottom: 9px;
}

.contact__tel-link {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: var(--main-color);
    text-decoration: none;
}

.contact__tel-link:hover {
    color: var(--yellow-color);
}

.contact__tel-link:active {
    color: var(--main-color);
    opacity: 0.6;
}

/* search section css  */

.search {
    padding-bottom: 206px;
    background-image: url(../images/contact-legs.png);
    background-repeat: no-repeat;
    background-position: calc(53% + 157px) calc(24% + -102px);
}

.search__content {
    padding-top: 395px;
    margin-bottom: 60px;
    position: relative;
}

.search__content::before {
    content: "";
    background-image: url("../images/contact-searchdog.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 443px;
    height: 342px;
    position: absolute;
    top: calc(50% + -8px);
    left: calc(50% + -731px);
}

.search__topic {
    margin: 0;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    color: var(--main-color);
    position: relative;
}

.search__topic::before {
    content: "";
    background-image: url("../images/contact-before.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 105px;
    height: 105px;
    position: absolute;
    top: calc(50% - 137px);
    left: calc(50% + 8px);
}


.search__wrapper {
    display: flex;
    width: 1536px;
    margin: 0 auto;
    ;


}


.search__wrapper-iframe {
    width: 847px;
    border: none;
    vertical-align: middle;
}